.movies {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movies__container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    width: 80%;
}

@media (max-width: 950px) {
    .movies__container {
        margin-top: 1rem;
        gap: 1rem;
        padding: 1rem;
        width: 100%;
    }
}